<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="css/style.css">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="users">
    </div>
    <div id="messages" id="msgtpl">
    <div class="message" id="msgtpl">
    <img src="{{{user.avatar}}}">
    <div class="info">
        <p><strong>{{user.username}}</strong></p>
        <p>{{message}}</p>
        <span class="date">{{h}}:{{m}}</span>
    </div>
    </div>
    </div>
    <div id="login">
        <form action="" id="loginform">
        <h1>Bienvenue</h1>
        <p>Ceci est un test de chat pour Node.js, entrez votre pseudo et votre email (utilis&eacute; pour l'avatar gravatar)</p>
        <input type="text" name="login" id="username" placeholder="Nom d'utilisateur">
        <input type="mail" name="mail" id="mail" placeholder="E-mail">
        <input type="submit" value="Envoyer">
    </form>
    </div>
   <form action="" id="form">
       <input type="text" id="message" class="text"/>
       <input type="submit" id="send" value="Envoyer mon message!" class="submit"/>
   </form>
   <script src="https://code.jquery.com/jquery-3.4.1.js"
   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
   crossorigin="anonymous"></script>
   </script> 
   <script src="js/mustache.js"></script>
   <script src="http://localhost:1338/socket.io/socket.io.js">
   </script>   
   <script src="./js/client.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.3/mustache.min.js"></script>
</body>
</html>
